<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSUIElement</key>
	<false/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/julianjear/makesomething-mac-app/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>/l3d2rw5ZZFRU3AadP/w2Zf8FHfhA6bKv16BQOV5OSk=</string>
	<key>VoiceTranscriptionProvider</key>
	<string>assemblyai</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Clicky uses your microphone so you can talk to it</string>
	<key>NSScreenCaptureUsageDescription</key>
	<string>Clicky needs screen recording access to see your screen and help you.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Clicky uses speech recognition to transcribe your voice when you talk to it</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>Clicky uses Apple Events to create notes in Apple Notes when you ask it to save something.</string>
	<key>NSRemindersUsageDescription</key>
	<string>Clicky creates reminders in the Reminders app when you ask it to remind you of something.</string>
</dict>
</plist>
